@import "../../../data/styles.css";

.experience {
	display: flex;
	margin-bottom: 20px;
}

.experience-left-side {
	min-width: 20%;
	max-width: 20%;
}

.experience-right-side {
	flex-basis: 80%;
	min-width: 700px;
	background: #fafafa;
	border-radius: 20px;
	padding: 30px;
}

.experience-date {
	padding-top: 30px;
	font-size: 15px;
	color: var(--tertiary-color);
}

.experience-title {
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}

.experience-description {
	font-size: 14px;
	color: var(--secondary-color);
	font-weight: 400;
	line-height: 25px;
	margin-bottom: 10px;
}

.experience-toggle {
	font-size: 14px;
	color: var(--link-color);
	font-weight: 700;
	cursor: pointer;
}

.experience-details {
	margin-top: 10px;
	padding-left: 20px;
}

.experience-details li {
	font-size: 14px;
	color: var(--secondary-color);
	margin-bottom: 5px;
}

@media (max-width: 1024px) {
	.experience-left-side {
		min-width: 10%;
		max-width: 10%;
	}

	.experience-right-side {
		flex-basis: 90%;
		min-width: 85%;
		max-width: 85%;
	}
}
